body,
html {
  height: 100%;
  margin: 0;
  font-family: "Raleway", "Microsoft JhengHei";
}
.wrapper {
  min-width: 900px;
  min-height: 1000px;
  background: #fff;
}
.header {
  margin-top: 20px;
  height: 300px;
  background: -webkit-linear-gradient(right, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header h1 {
  font-size: 3em;
}
.side {
  min-height: 1000px;
  background: #333;
  position: absolute;
  top: 0;
  left: 20px;
  width: 300px;
  padding: 20px;
  color: #fff;
}
.side h2 {
  color: -webkit-linear-gradient(right, #21d4fd, #b721ff);
  color: -o-linear-gradient(right, #21d4fd, #b721ff);
  color: -moz-linear-gradient(right, #21d4fd, #b721ff);
  color: linear-gradient(right, #21d4fd, #b721ff);
}
.side a{
	color:#fff;
}
.photo {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 20px;
  border-radius: 100%;
  background-color: #fff;
  background-image: url("resume_image.png");
  background-size: cover;
  border: 10px #8707ff solid;
}
.info,
.skills {
  margin-top: 50px;
}
.skills p {
  margin: 30px 0px 0px 0px;
}
.box-ck,
.box {
  display: inline-flex;
  width: 23px;
  height: 5px;
  margin: 0px 1px;
}
.box {
  background: #eee;
}
.box-ck {
  background: -webkit-linear-gradient(right, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff);
}
.content,
.header * {
  margin-left: 370px;
}
.content {
  padding: 20px;
}
.content p{
  text-align: justify;
  letter-spacing:0.5px;
  line-height:1.5
}
.line {
  border-bottom: 1px solid #8707ff !important;
  position: relative;
}
.line:before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 3px solid #8707ff;
  border-width: 3px 20px;
  top: -3px;
  border-radius: 3px;
}
a{
  text-decoration:none;
	color:#333;
}
.content a {
  display: inline-block;
  position: relative;
  font-weight:bold;
  padding:0px;
}
.content a:before, .content a:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 0;
}
.content a:before {
  transition: width 0s ease,background .4s ease;
  bottom: -2px;
}
.content a:after {
  right: 2.2%;
  bottom: -2px;
  background: #8707ff;
  transition: width .4s ease;
}
.content a:hover:before {
  width: 97.8%;
  background: #8707ff;
  transition: width .4s ease;
}
.content a:hover:after {
  width: 97.8%;
  background: 0 0;
  transition: all 0s ease;
}
.content h3 span{
  display:inline-block;
}
.quote {
 position: relative;
 font-family: 'Roboto', sans-serif;
 line-height: 150%;
}
.quote:before {
  color: #000;
  content: "\201C";
  font-size: 1.5em;
  position:absolute;
  left:-45px;
  top: 25px;
  line-height: 0.1em;
}
.quote:after {
  color: #000;
  content: "\201D";
  font-size: 1.5em;
  position:absolute;
  right:-40px;
  bottom: -10px;
  line-height: 0.1em;
}
.text-center{
  text-align:center;
}
/* Timeline */
.timeline {
  border-left: 4px solid #8707ff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 20px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 10px 15px;
  list-style: none;
  text-align: left;
  max-width: 50%;
}

.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  position: relative;
}
.timeline .event:last-of-type {

  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -160px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #8707ff;
  left: -23px;
  background: #fff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
@media screen and (max-width: 650px) {
  .wrapper {
    min-width: inherit;
    min-height: auto;
    background: #fff;
  }
  .side {
    min-height: inherit;
    background: #333;
    /*color: inherit;*/
    position: inherit;
    width:inherit;
  }
  .side h2 {
    color: inherit;
  }
  .content,
  .header * {
    margin-left: 0px;
  }
  .header {
    margin-top: 0px;
    height: auto;
  }
  .header .photo {
    display: block !important;
    border: 8px #ffffff solid;
    margin: 0;
    width: 220px;
    height: 220px;
    margin-top:30px;
  }
  .header h3 {
    margin-bottom:50px;
  }
  .side .photo {
    display: none;
  }
  .timeline{
    margin-left:100px;
  }
  .content h3 span{
  display:block;
    line-height:1.5
  }
}
